* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: skyblue;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 10px;
  border: solid 2px #eee;
  box-shadow: 0 10px 20px rgba(241, 241, 241, 0.22);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: black;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img {
  margin: 1% auto;
  width: 150px;
  padding: 5px;
  padding: px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid rgba(63, 92, 171, 0.261);
  box-shadow: 0 10px 60px rgba(50, 50, 50, 0.22);
  object-fit: cover;
  display: block;
  justify-content: center;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #333;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: rgb(153, 153, 153);
  border-radius: 4px;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: skyblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgb(32, 32, 32);
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: rgb(62, 62, 62);
  color: #fff;
}
